<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

  <h1>Hello! This is the bookClub app.</h1>
  <p>Thanks for using our site.</p>

  <div>
    <!-- <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/how-to-host-a-virtual-book-club2-1585775401.jpg?crop=1xw:0.7489397794741306xh;center,top&resize=1200:*"> -->
    <img src="https://i.pinimg.com/originals/08/17/c1/0817c1746e71341fbecbe7d5fc108ba8.jpg">
  </div>

<%- include('./partials/footer.ejs') %>
