<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<div class="jumbtron jumbtron-fluid">
  <div class="container">
      <h1 class="display-4 mt-2">Welcome to the bookClub app!</h1>
      <p class="lead">Thanks for using our site.</p>
      <div>
        <img src="/images/iStock-689785084.jpg" class="img-fluid">
        <!-- <img src="https://i.pinimg.com/originals/08/17/c1/0817c1746e71341fbecbe7d5fc108ba8.jpg"> -->
        </div>
    </div>
  <div>

<%- include('./partials/footer.ejs') %>
