<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<div class="container-fluid">
  <p class="h2 m-2">User Login page</p>
    <form action="/sessions" method="POST">
      <div class="form-group m-2">
        <label for="username">Username: </label>
        <input type="text" class="form-control" name="username">
      </div>
      <div class="form-group m-2">
        <label for="password">Password: </label>
        <input type="password" class="form-control" name="password">
      </div>
      <div class="form-group m-2">
        <input type="submit" name="" value="User sign in">
      </div>
    </form>
</div>

<%- include('../partials/footer.ejs') %>
